{% extends 'adminapp/admin-master.html' %}
{% load static %}
{% block content %}

    <div class="pagetitle">
      <h1>General Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Default Table</h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ab in data %}
                  <tr>
                    <th scope="row">{{ab.id}}</th>
                    <td>{{ab.name}}</td>
                    <td>{{ab.email}}</td>
                    <td>{{ab.phone}}</td>
                    <td>{{ab.address}}</td>
                    <td>
                      <a href="{% url 'studentupdate' ab.id %}"><button>Update</button></a>
                      <a href="{% url 'studentdelete' ab.id %}"><button>Delete</button></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>

        </div>

        
      </div>
    </section>

 {% endblock %}